//Primary

$lightRed: hsl(356, 100%, 66%);
$veryLightRed: hsl(355, 100%, 74%);
$veryDarkBlue: hsl(208, 49%, 24%);

//Neutral

$white: hsl(0, 0%, 100%);
$grayish: hsl(240, 2%, 79%);
$veryDarkGrayishBlue: hsl(207, 13%, 34%);
$veryDarkBlackBlue : hsl(240, 10%, 16%);

//Background gradient - Intro/CTA mobile nav:

$veryLightRedGradient: hsla(13, 100%, 72%, 0.95);
$lightRedGradient: hsla(353, 100%, 62%,0.95);

//Background gradient - body:

$veryDarkGrayBlueGradient: hsl(237, 17%, 21%);
$veryDarkDesaturatedBlueGradient: hsl(237, 23%, 32%);

//Font Sizes
//$font-sm: 0.875rem; //14px
$font-med: 16px;
//$font-lg: 1.25rem;
//$font-xlg: 3.25rem;